# App Config
NODE_ENV=development
LOG_LEVEL=info

# AI Config
OLLAMA_BASE_URL= #url localhost ollama
OLLAMA_MODEL=gemma4:latest
MOCK_AI=false

# Database Config
MONGODB_URI= #url db mongodb

# Bitget API Config
BITGET_API_KEY= #key bitget
BITGET_SECRET_KEY= #secret key bitget
BITGET_PASSPHRASE= #passphrase bitget
BITGET_BASE_URL=https://api.bitget.com

# Trading Config
TRADING_MODE=PAPER #LIVE, PAPER
BACKTEST_ITERATIONS=5
TRADING_STRATEGY=SCALPING #TRADING_STRATEGY=INTRADAY, TRADING_STRATEGY=SWING, TRADING_STRATEGY=SCALPING
SCAN_MODE=ALL #SCAN_MODE=VIP,  SCAN_MODE=HOT50, SCAN_MODE=ALL
